<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitclub"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ExerciseTutorialActivity"
            android:exported="false"
            android:label="View Tutorial"
            android:parentActivityName=".presentation.WorkoutPage" />
        <activity
            android:name=".presentation.RecycleView"
            android:exported="false"
            android:label="Exercises"
            android:parentActivityName=".presentation.WorkoutPage" />
        <activity
            android:name=".presentation.WorkoutPage"
            android:exported="false"
            android:label="Find Workouts"
            android:parentActivityName=".presentation.MainActivity" />
        <activity
            android:name=".presentation.WorkoutActivity"
            android:exported="false"
            android:label="Workouts"
            android:parentActivityName=".presentation.WorkoutPage"/>
        <activity
            android:name=".presentation.MuscleGroupPage"
            android:exported="false"
            android:label="Find by Muscle Group"
            android:parentActivityName=".presentation.MainActivity" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ExercisesActivity"
            android:label="Sort By Difficulty Page"
            android:parentActivityName=".presentation.MainActivity" />
    </application>

</manifest>